absl-py
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
atomicwrites
attrs
Babel
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
cloudpickle
colorama
colour
cycler
debugpy
decorator
defusedxml
dtreeviz
entrypoints
et-xmlfile
executing
fastjsonschema
flatbuffers
fonttools
future
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
htmlmin
hyperopt
idna
ImageHash
imbalanced-learn
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
Keras-Preprocessing
kiwisolver
llvmlite
lxml
Markdown
MarkupSafe
matplotlib
missingno
mistune
multimethod
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numba
numpy==2.1.3
oauthlib
openpyxl
opt-einsum
packaging
pandas
pandocfilters
parso
patsy
phik
pickleshare
Pillow
pkgutil_resolve_name
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
py
pyasn1
pyasn1-modules
pycparser
pydantic
Pygments
pyod
pyparsing
pyrsistent
pytest
python-dateutil
pytz
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
requests
requests-oauthlib
scikit-learn
scipy
seaborn
Send2Trash
shap
six
slicer
sniffio
soupsieve
stack-data
statsmodels
sweetviz
tangled-up-in-unicode
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
termcolor
terminado
threadpoolctl
tinycss2
tomli
tornado
tqdm
traitlets
typeguard
typing-extensions
urllib3
visions
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xlrd
zipp
